body {
    width: 100vw;
    height: 100vh;
    background-color: pink;
    overflow: hidden;
}

.container {
    width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  .card {
    position:absolute;
    box-sizing: border-box;
    display: flex;
    align-items: start;
    width: 60vw;
    height: calc(60vw * 1.4);
    border-radius: 15px;
    border: 1px solid white;
    background: white;
    transition: 2s;
    box-shadow: -10px -5px 5px 5px rgb(0 0 0 / 0.2);
    padding-top: 5px;
    text-align: center;
  }

  .cardBody {
      padding: 1vw;
      text-align: center;
      display: block;
      flex-grow: 1;
  }

  
.titleCard {
    padding: 2vw;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: calc(60vw * 1.4);
  border-radius: 15px;
  background: aquamarine;
  transition: 2s;
  box-shadow: -10px -5px 5px 5px rgb(0 0 0 / 0.2);
}

.titleBlock {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


h1 {
  font-size: 10vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

span {
  font-size: 6vw;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  writing-mode: vertical-rl;
  font-size: 4vw;
  margin: 1vw;
  font-family: 'Courier New', Courier, monospace;
}

.card a {
    display: block;
    margin-top: 3vw;
    font-size: 4vw;
}

#card1 {
  transform: translateY(0) translateX(-12vw) rotate(-9deg);
  z-index: 0;
}

#card2 {
  transform: translateY(0px) translateX(-7vw) rotate(-6deg);
  z-index: 1;
}

#card3 {
    transform: rotate(-3deg) translateX(-2vw);
  z-index: 2;
}

#card4 {
  transform: translateY(0px) translateX(3vw) rotate(0deg);
  z-index: 3;
}

#card5 {
  transform: translateY(0) translateX(8vw) rotate(3deg);
  z-index: 4;
}

#card6 {
  transform: translateY(0) translateX(13vw) rotate(6deg);
  z-index: 5;
}

#card1:hover {
    transform: translateY(-30vw) translateX(-18vw) rotate(0deg);
    z-index: 0;
  }
  

#card2:hover {
  transform: translateY(-30vw) translateX(-13vw) rotate(0deg);
}

#card3:hover {
    transform: translateY(-30vw) translateX(-8vw) rotate(0deg);
}

#card4:hover {
    transform: translateY(-30vw) translateX(-3vw) rotate(0deg);
}

#card5:hover {
  transform: translateY(-30vw) translateX(2vw) rotate(0deg);
}

@media screen and (min-width:800px) {

        body {
            width: 100%;
            height: 100vh;
            background-color: pink;
            overflow: hidden;
        }
        
        .container {
            width: 500px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
        
        .card {
            position:absolute;
            box-sizing: border-box;
            display: flex;
            align-items: start;
            width: 300px;
            height: calc(300px * 1.4);
            border-radius: 15px;
            border: 1px solid white;
            background: white;
            transition: 2s;
            box-shadow: -10px -5px 5px 5px rgb(0 0 0 / 0.2);
            padding-top: 5px;
            text-align: center;
        }
        
        .cardBody {
            padding: 10px;
            text-align: center;
            display: block;
            /* flex-grow: 1; */
        }
        
        
        .titleCard {
            padding: 10px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
            height: calc(300px * 1.4);
        border-radius: 15px;
        border: 1px solid aqua;
        background: aquamarine;
        box-shadow: -10px -5px 5px 5px rgb(0 0 0 / 0.2);
        }
        
        .titleBlock {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }
        
        
        h1 {
        font-size: 50px;
        font-family: 'Inconsolata', monospace;
        }
        
        span {
        font-size: 30px;
        display: block;
        }
        
        h2 {
        writing-mode: vertical-rl;
        font-size: 30px;
        /* margin: 10px; */
        }
        
        .card a {
            display: block;
            margin-top: 10px;
            font-size: 20px;
        }
        
        #card1 {
        transform: translateY(0) translateX(-160px) rotate(-9deg);
        z-index: 0;
        }
        
        #card2 {
        transform: translateY(0px) translateX(-100px) rotate(-6deg);
        z-index: 1;
        }
        
        #card3 {
            transform: rotate(-3deg) translateX(-40px);
        z-index: 2;
        }
        
        #card4 {
        transform: translateY(0px) translateX(20px) rotate(0deg);
        z-index: 3;
        }
        
        #card5 {
        transform: translateY(0) translateX(80px) rotate(3deg);
        z-index: 4;
        }
        
        #card6 {
        transform: translateY(0) translateX(140px) rotate(6deg);
        z-index: 5;
        }
        
        #card1:hover {
            transform: translateY(-200px) translateX(-200px) rotate(0deg);
            z-index: 0;
        }
        
        
        #card2:hover {
        transform: translateY(-200px) translateX(-160px) rotate(0deg);
        }
        
        #card3:hover {
            transform: translateY(-200px) translateX(-100px) rotate(0deg);
        }
        
        #card4:hover {
            transform: translateY(-200px) translateX(-40px) rotate(0deg);
        }
        
        #card5:hover {
        transform: translateY(-200px) translateX(20px) rotate(0deg);
        }
    }