/* MAIN LAYOUT */

body {
  width: 95vw;
  height: 80vh;
  background-color: pink;
  overflow: hidden;
  margin: 15vh auto 0;
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* CARDS LAYOUT */

.card {
  position:absolute;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  width: 60vw;
  height: calc(60vw * 1.4);
  border-radius: 15px;
  border: 1px solid white;
  background: white;
  transition: 1s;
  box-shadow: -10px -5px 5px 5px rgb(0 0 0 / 0.2);
  padding-top: 5px;
  text-align: center;
}

.cardBody {
  padding: 1vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
}

  
.titleCard {
  padding: 2vw;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: calc(60vw * 1.4);
  border-radius: 15px;
  background: aquamarine;
  transition: 2s;
  box-shadow: -10px -5px 5px 5px rgb(0 0 0 / 0.2);
}

/* TYPOGRAPHY */

h1 {
  font-size: 10vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h2 {
  writing-mode: vertical-rl;
  font-size: 5vw;
  margin: 1vw;
  font-family: 'Courier New', Courier, monospace;
}

span {
  color: black;
  font-size: 4.5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signature {
  font-size: 3.5vw;
}

/* LINKS */

a {
  font-size: 4vw;
  margin-top: 4vw;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 1vw;
  color: white;
  background: red;
  border-radius: 2vw;
  border: 2px solid red;
}

a:hover {
  color: red;
  background: transparent;
}

/* FANOUT ANIMATION */

@keyframes fanout1 {
  from {
    transform: translateY(0) translateX(0) rotate(0);
  }

  to {
    transform: translateY(0) translateX(-12vw) rotate(-9deg);
  }
}

@keyframes fanout2 {
  from {
    transform: translateY(0) translateX(0) rotate(0);
  }

  to {
    transform: translateY(0px) translateX(-7vw) rotate(-6deg);
  }
}

@keyframes fanout3 {
  from {
    transform: translateY(0) translateX(0) rotate(0);
  }

  to {
    transform: rotate(-3deg) translateX(-2vw);
  }
}

@keyframes fanout4 {
  from {
    transform: translateY(0) translateX(0) rotate(0);
  }

  to {
    transform: translateY(0px) translateX(3vw) rotate(0deg);
  }
}

@keyframes fanout5 {
  from {
    transform: translateY(0) translateX(0) rotate(0);
  }

  to {
    transform: translateY(0) translateX(8vw) rotate(3deg);
  }
}

@keyframes fanout6 {
  from {
    transform: translateY(0) translateX(0) rotate(0);
  }

  to {
    transform: translateY(0) translateX(13vw) rotate(6deg);
  }
}

/* ON-TAP ANIMATION (RADIO BUTTON HACK) */

#card1 {
  animation: fanout1 1s;
  transform: translateY(0) translateX(-12vw) rotate(-9deg);
  z-index: 0;
}


input:checked + #card1 {
  transform: translateY(-35vw) translateX(-15vw) rotate(0deg);
}


#card2 {
  animation: fanout2 1s;
  transform: translateY(0px) translateX(-7vw) rotate(-6deg);
  z-index: 1;
}


input:checked + #card2 {
  transform: translateY(-35vw) translateX(-9vw) rotate(0deg);
}


#card3 {
    animation: fanout3 1s;
    transform: rotate(-3deg) translateX(-2vw);
  z-index: 2;
}

input:checked + #card3 {
  transform: translateY(-35vw) translateX(-3vw) rotate(0deg);
}

#card4 {
  animation: fanout4 1s;
  transform: translateY(0px) translateX(3vw) rotate(0deg);
  z-index: 3;
}

input:checked + #card4 {
  transform: translateY(-35vw) translateX(3vw) rotate(0deg);
}

#card5 {
  animation: fanout5 1s;
  transform: translateY(0) translateX(8vw) rotate(3deg);
  z-index: 4;
}

input:checked + #card5 {
  transform: translateY(-35vw) translateX(9vw) rotate(0deg);
}

#card6 {
  animation: fanout6 1s;
  transform: translateY(0) translateX(13vw) rotate(6deg);
  z-index: 5;
}

/* DESKTOP & TABLET SIZING */

@media screen and (min-width:800px) {

  /* MAIN LAYOUT RESIZE */

  body {
    width: 100%;
    height: 100vh;
  }
        
  .container {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
  }

  /* CARD LAYOUT RESIZE */
        
  .card {
    width: 300px;
    height: calc(300px * 1.4);
    border-radius: 15px;
    border: 1px solid white;
    transition: 1s;
    box-shadow: -10px -5px 5px 5px rgb(0 0 0 / 0.2);
    padding-top: 5px;
  }
        
  .cardBody {
    padding: 10px;
  }
            
  .titleCard {
    padding: 10px;
    width: 300px;
    height: calc(300px * 1.4);
    border-radius: 15px;
    box-shadow: -10px -5px 5px 5px rgb(0 0 0 / 0.2);
  }

  /* TYPOGRAPHY RESIZE */

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
    margin: 15px 0;
  }
        
  span {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .signature {
    font-size: 18px;
  }

  /* LINK RESIZE */
        
  a {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid red;
  }

  /* FANOUT ANIMATION RE-POSITION */
        
  @keyframes fanout1 {
    from {
      transform: translateY(0) translateX(0) rotate(0);
    }
      
    to {
      transform: translateY(0) translateX(-120px) rotate(-13deg);
    }
  }
      
  @keyframes fanout2 {
    from {
      transform: translateY(0) translateX(0) rotate(0);
    }
      
    to {
      transform: translateY(0px) translateX(-80px) rotate(-8deg);
    }
  }
      
  @keyframes fanout3 {
    from {
      transform: translateY(0) translateX(0) rotate(0);
    }
      
    to {
      transform: rotate(-3deg) translateX(-30px);
    }
  }
      
  @keyframes fanout4 {
    from {
      transform: translateY(0) translateX(0) rotate(0);
    }
      
    to {
      transform: translateY(0px) translateX(10px) rotate(1deg);
    }
  }
      
  @keyframes fanout5 {
    from {
      transform: translateY(0) translateX(0) rotate(0);
    }
      
    to {
      transform: translateY(0) translateX(60px) rotate(4deg);
    }
  }
      
  @keyframes fanout6 {
    from {
      transform: translateY(0) translateX(0) rotate(0);
    }
      
    to {
      transform: translateY(0) translateX(100px) rotate(10deg);
    }
  }
      
  /* ON-TAP ANIMATION RE-POSITION */
        
  #card1 {
    transform: translateY(0) translateX(-120px) rotate(-13deg);
  }

  input:checked + #card1 {
    transform: translateY(-200px) translateX(-120px) rotate(0deg);
  }
        
  #card2 {
    transform: translateY(0px) translateX(-80px) rotate(-8deg);
  }

        
  input:checked + #card2 {
    transform: translateY(-200px) translateX(-80px) rotate(0deg);
  }  
        
  #card3 {
    transform: rotate(-3deg) translateX(-30px);
  }

  input:checked + #card3 {
    transform: translateY(-200px) translateX(-30px) rotate(0deg);
  }
        
  #card4 {
    transform: translateY(0px) translateX(10px) rotate(1deg);
  }

  input:checked + #card4 {
    transform: translateY(-200px) translateX(10px) rotate(0deg);
  }
        
  #card5 {
    transform: translateY(0) translateX(60px) rotate(4deg);
  }

  input:checked + #card5 {
    transform: translateY(-200px) translateX(60px) rotate(0deg);
  }
        
  #card6 {
    transform: translateY(0) translateX(100px) rotate(10deg);
  }
}